/**
 * Typography Styles
 *
 * Set basic typography styles here.
 *
 * @package Carbon
 * @subpackage SCSS
 * @since 2.0.0
 */

*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

html, body {
    font-family: serif;
}
