.about-content {
	&__container {
		margin-top:$vertical-margin-s;
		margin-bottom:$vertical-margin-s;
		grid-column: 2 / span 19;
		color:$red;
		padding-right: 10px;

		@include mq($breakpointB) {
			grid-column: 2 / span 15;
    		// grid-column: 3 / span 14;
			padding-right:0px;
		}

		@include mq($breakpointC) {
			grid-column: 3 / span 16;
		}

		&--instagram {
			padding-right: 0;
    		grid-column: 2 / span 18;

			@include mq($breakpointB) {
				grid-column: 2 / span 18;
			}
		}
	}
	&__article {
		// display:none;

		&:nth-child(n+2) {
			margin-top:$vertical-margin-m;
		}

		&--staff {

			display:none;

			&[data-staff="Suchi Reddy"] {
				display:block;
			}

			@include mq($breakpointC) {
				// display:block;
				display:none;
			}
		}
	}
	&__header {
		margin-bottom:$title-margin;
		font-size:1.3em;
		line-height:1.5em;
		font-weight:600;
		letter-spacing:0.05em;
	}
	&__copy {
		&--about {
			& p {
				&:nth-child(n+2) {
					text-indent:2em;
				}
			}
		}
		font-size:1em;
		line-height:1.4em;
		&--margin:nth-of-type(n+2)  {
			margin-top: $vertical-margin-s;
		}
		&--Suchi {
			cursor: pointer;
		}
	}
	&__description {}
	&__date, &__more {
		text-transform:uppercase;
		font-size:.67em;
		letter-spacing:.05em;
	}
}

#google-map {
	width: 100%;
	height:180px;

	@include mq($breakpointB) {
		height:310px;
		width: 110%;
	}

	@include mq($breakpointC) {
		height:220px;
		// width: 100%
	}

	@include mq($breakpointC) {
		width: 85.71%
	}
}