.content {
	&__body, &__header {
		grid-column: 1 / span 12;
		@include mq($breakpointC){
			grid-column: 2 / span 10;
		}
	}
	&__body {
		grid-template-columns: repeat(12, 1fr);
		padding-bottom: 90px;
		@include mq($breakpointC){
			grid-template-columns: repeat(10, 1fr);
		}
	}
	&__title {
		font-weight:bold;
		font-size: 24px;
		line-height: 26px;
		@include mq($breakpointC){
			font-size: 28px;
			line-height: 28px;
		}
	}
	&__copy {
		font-size: 14px;
		line-height: 16px; 
		letter-spacing: -0.015em;
		font-weight:300; 
		font-family:Janson, 'Times New Roman', Times, serif;
		grid-column: auto / span 12;
		@include mq($breakpointB){
			grid-column: auto / span 8;
		}
		@include mq($breakpointC){
			grid-column: auto / span 5;
			font-size: 12px;
			line-height: 14px; 
		}
		@include mq($breakpointD){
			grid-column: auto / span 4;
		}
		&--indent {
			p:nth-child(n+2){
				text-indent:20px;
			}
		}
	}
	&__date {
		font-size:11px;
	}
	&__date-lead {
		font-family: Janson, 'Times', 
	}
	&__date-time {
		font-weight: bold; 
		line-height: 14px; 
		letter-spacing: -0.015em;
	}
	&__images {
		grid-column: auto / span 12;
		@include mq($breakpointB){
			grid-column: auto / span 8;
		}
		@include mq($breakpointC){
			grid-column: auto / span 5;
		}
		@include mq($breakpointD){
			grid-column: auto / span 6;
		}
		grid-row-start:1;
		@include mq($breakpointC){
			grid-row-start:auto;
		}
	}
}

.content__copy {
	font-family:Janson, 'Times New Roman', Times, serif;
	letter-spacing: -0.015em;
	line-height: 16px;
	font-size: 14px;
	@include mq($breakpointC){
		line-height: 18px;
		font-size: 16px;
	}
}