@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.calendar-grid__container {
  display:grid;
  grid-gap:12px;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-column-align: repeat(2, 1fr);
  @include mq($breakpointB){
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-column-align: repeat(4, 1fr);   
  }
  @include mq($breakpointC){
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-column-align: repeat(7, 1fr);   
  }
}

.calendar-grid--invisible {
	visibility: hidden;
}

.calendar__image {
	@include aspect-ratio(2, 1.6);
	width:100%;
}

.calendar-grid__block {
  @include aspect-ratio(2, 1.4);

  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    & .calendar-grid__content {
      visibility:hidden;
    }
    & .calendar-grid__day-image {
      display: block;
    }
  }
}

.calendar-grid__content {  
  font-size: 116px;
  letter-spacing: -0.05em;
  color: $yellow;
  font-weight:bold;
  pointer-events: none; // TODO: testing flicker solution

  // position:relative;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  &--image {
    position:initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--transparent {
    opacity:.3;
  }
}

.calendar-grid__day-image {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  display:none;
}

.calendar-grid__block--building {

  &:hover {
    & .calendar-grid__content {
      visibility:visible;
      // position: relative;
      right: 5%;
    }
    & .calendar-grid__day-image {
      // visibility:hidden;
      display:none;
    }
  }
  .calendar-grid__day-image {
    display:block;
  }
  & .calendar-grid__content {
    visibility:hidden;
  }
}

.calendar-grid__number {
  font-size:25vw;
  @include mq($breakpointB){
    font-size:15vw;
  }
  @include mq($breakpointC){
    font-size:10vw;
  }
}

.archive {
    & .calendar-grid__block--building:nth-child(8), & .calendar-grid__block--building:nth-child(15),  & .calendar-grid__block--building:nth-child(22),  & .calendar-grid__block--building:nth-child(29),  & .calendar-grid__block--building:nth-child(36),  & .calendar-grid__block--building:nth-child(43),  & .calendar-grid__block--building:nth-child(50),  & .calendar-grid__block--building:nth-child(57),  & .calendar-grid__block--building:nth-child(64),  & .calendar-grid__block--building:nth-child(71),  & .calendar-grid__block--building:nth-child(78),  & .calendar-grid__block--building:nth-child(85),  & .calendar-grid__block--building:nth-child(92){
      padding-right:0px;
      & .calendar-grid__day-image {
        width:100%;
      }
    }
    & .calendar-grid__block{
      &:hover {
        & .calendar-grid__content {
          visibility:visible;
        }
      }
    }
}

.overflow {
  height: auto;
  overflow: auto;
  &--map {
      height: calc(100vh - 64px);
      overflow: hidden;
  }
}