@keyframes fade {
		from {opacity:0;}
		to {opacity:1;}
}
.gradient__wrapper {
	position:relative;
	height:100vh;
	width:100vw;
}
.gradient__hover--left {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:0px;
	z-index:20;
	@include mq($breakpointB){
		width:24px;
	}
}
.gradient__hover--top {
	position:absolute;
	top:0;
	left:0;
	height:24px;
	width:100%;
	z-index:30;
	@include mq($breakpointC){
		z-index:20;
	}
}
.gradient__hover--bottom {
	position:absolute;
	bottom:0;
	left:0;
	height:24px;
	width:100%;
	z-index:30;
	@include mq($breakpointB){
		z-index:20;
	}
}
.gradient__hover--right {
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:0px;
	z-index:20;
	@include mq($breakpointB){
		width:24px;
	}
}
.gradient {
	width:100vw;
	height:100vh;
	border:4px;
	padding: 24px 36px 0px;	
	position:relative;
	box-sizing: border-box;
}

.gradient__hover--left:hover, .gradient__hover--right:hover {width:72px;}
.gradient__hover--top:hover, .gradient__hover--active {
	height: $breakpointAHeight;
	@include mq($breakpointC){
		height: $breakpointCHeight;
	}
}
.gradient__hover--bottom:hover {
	height: $breakpointAHeightFooter;
	@include mq($breakpointB){
		height: $breakpointCHeight;
	}
}

.gradient__hover--left:hover ~ .gradient .gradient__frame--before, .gradient__hover--left:hover ~ .gradient .gradient__frame--after{
	clip-path: polygon(0% 0%, 0% 100%, 72px 100%, 72px 24px, calc(100% - 24px) 24px, calc(100% - 24px) calc(100% - 24px), 24px calc(100% - 24px), 24px 100%, 100% 100%, 100% 0%);		
}

.gradient__hover--left:hover ~ .sidebar-nav--left .sidebar-nav__content, .gradient__hover--right:hover ~ .sidebar-nav--right .sidebar-nav__content{
	bottom:47px;
}

.gradient__hover--top:hover ~ .gradient .gradient__frame--before, .gradient__hover--top:hover ~ .gradient .gradient__frame--after, .gradient__hover--active ~ .gradient .gradient__frame--before, .gradient__hover--active ~ .gradient .gradient__frame--after{
	clip-path: polygon(0% 0%, 0% 100%, 24px 100%, 24px $breakpointAHeight, calc(100% - 24px) $breakpointAHeight, calc(100% - 24px) calc(100% - 24px), 24px calc(100% - 24px), 24px 100%, 100% 100%, 100% 0%);		
	@include mq($breakpointC){
		clip-path: polygon(0% 0%, 0% 100%, 24px 100%, 24px $breakpointCHeight, calc(100% - 24px) $breakpointCHeight, calc(100% - 24px) calc(100% - 24px), 24px calc(100% - 24px), 24px 100%, 100% 100%, 100% 0%);		
	}
}

.gradient__hover--bottom:hover ~ .gradient .gradient__frame--before, .gradient__hover--bottom:hover ~ .gradient .gradient__frame--after{
	clip-path: polygon(0 0, 0 100%, 24px 100%, 24px 24px, calc(100% - 24px) 24px, calc(100% - 24px) calc(100% - #{$breakpointAHeightFooter}), 24px calc(100% - #{$breakpointAHeightFooter}), 24px 100%, 100% 100%, 100% 0%);
	@include mq($breakpointB){
		clip-path: polygon(0 0, 0 100%, 24px 100%, 24px 24px, calc(100% - 24px) 24px, calc(100% - 24px) calc(100% - 60px), 24px calc(100% - 60px), 24px 100%, 100% 100%, 100% 0%);
	}
}

.main-nav__wrapper--header:hover ~ .gradient .gradient__frame--before, .main-nav__wrapper--header:hover ~ .gradient .gradient__frame--after{
	clip-path: polygon(0% 0%, 0% 100%, 24px 100%, 24px $breakpointAHeight, calc(100% - 24px) $breakpointAHeight, calc(100% - 24px) calc(100% - 24px), 24px calc(100% - 24px), 24px 100%, 100% 100%, 100% 0%);		
	@include mq($breakpointC){
		clip-path: polygon(0% 0%, 0% 100%, 24px 100%, 24px $breakpointCHeight, calc(100% - 24px) $breakpointCHeight, calc(100% - 24px) calc(100% - 24px), 24px calc(100% - 24px), 24px 100%, 100% 100%, 100% 0%);		
	}
}

.main-nav__wrapper--footer:hover ~ .gradient .gradient__frame--before, .main-nav__wrapper--footer:hover ~ .gradient .gradient__frame--after{
	clip-path: polygon(0 0, 0 100%, 24px 100%, 24px 24px, calc(100% - 24px) 24px, calc(100% - 24px) calc(100% - #{$breakpointAHeightFooter}), 24px calc(100% - #{$breakpointAHeightFooter}), 24px 100%, 100% 100%, 100% 0%);
	@include mq($breakpointB){
		clip-path: polygon(0 0, 0 100%, 24px 100%, 24px 24px, calc(100% - 24px) 24px, calc(100% - 24px) calc(100% - 60px), 24px calc(100% - 60px), 24px 100%, 100% 100%, 100% 0%);
	}
}

.gradient__hover--right:hover ~ .gradient .gradient__frame--before, .gradient__hover--right:hover ~ .gradient .gradient__frame--after{
	clip-path: polygon(0% 0%, 0% 100%, 24px 100%, 24px 24px, calc(100% - 72px) 24px, calc(100% - 72px) calc(100% - 24px), 24px calc(100% - 24px), 24px 100%, 100% 100%, 100% 0%);		
}

.gradient__hover--top:hover ~ .main-nav__wrapper--header, .main-nav__wrapper--header:hover, .gradient__hover--active ~ .main-nav__wrapper--header {
 top:0px;
}

.gradient__hover--bottom:hover ~ .main-nav__wrapper--footer, .main-nav__wrapper--footer:hover {
 bottom:0px;
}

.gradient__frame {
	&--before {
		content: '';
		position:absolute;
		pointer-events:none;
		height:100%;
		width:100%;
		left:0;
		top:0;
		background: linear-gradient(45deg, #b1ff4c 0%,#28ff7a 24%,#30fffb 47%,#2889ff 73%,#ca89ff 100%);
		clip-path: polygon(0% 0%, 0% 100%, 24px 100%, 24px 24px, calc(100% - 24px) 24px, calc(100% - 24px) calc(100% - 24px), 24px calc(100% - 24px), 24px 100%, 100% 100%, 100% 0%);
		transition: clip-path .3s;
		z-index:10;
	}
	&--after {
		content: '';
		position:absolute;
		pointer-events:none;
		height:100%;
		width:100%;
		left:0;
		top:0;
		opacity:0;
		background: linear-gradient(45deg, #fff321 1%,#35ff57 26%,#4cabff 43%,#6f3fff 63%,#ff42f2 84%,#ff3236 100%);
		clip-path: polygon(0% 0%, 0% 100%, 24px 100%, 24px 24px, calc(100% - 24px) 24px, calc(100% - 24px) calc(100% - 24px), 24px calc(100% - 24px), 24px 100%, 100% 100%, 100% 0%);
		z-index:10;
		transition: clip-path .3s;
		animation-name: fade;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}

.gradient__content {
	position:relative;
	overflow:scroll;
	height:100%;
	width:100%;
	background-color:#fff;
	padding-top:6px;
}
