$red: #FF3344;

$borderWidth: 42px;

$vertical-margin-xl: 160px;
$vertical-margin-l: 120px;
$vertical-margin-m: 60px;
$vertical-margin-s: 40px;
$vertical-margin-xs: 30px;
$title-margin: 15px;

// media query mixin
@mixin mq($width, $height: false) {
    @if $height {
        @media ( min-width: + $width ) and ( min-height: + $height ) {
            @content;
        }
    }@else {
        @media ( min-width: + $width ) {
            @content;
        }
    }
}

main {
	margin-top:42px;
	margin-left:42px;
    overflow:hidden;
}