$red: #ea494d;

// media query mixin
@mixin mq($width, $height: false) {
    @if $height {
        @media ( min-width: + $width ) and ( min-height: + $height ) {
            @content;
        }
    }@else {
        @media ( min-width: + $width ) {
            @content;
        }
    }
}

main {
	margin-top:42px;
	margin-left:42px;
}