/***********************************************************/

[class*='col-'] {
  padding-right: 12px;
  box-sizing: border-box;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

$pad: 12px;

.grid {
  // background: white;
  padding: 0 0 $pad 0;
  
  // &:after {
  //   /* Or @extend clearfix */
  //   content: "";
  //   display: table;
  //   clear: both;
  // }
  &--landing {
	  position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   	width: 100%;
    background: transparent;
    grid-template-columns: repeat(12, 1fr);
  }
}

[class*='col-'] {
  float: left;
  padding-right: $pad;
  box-sizing: border-box;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-1-sev {
  margin-bottom: $pad;
}
.col-1-sev.col-not-last {
  padding-right: $pad;
}

[class*='col-'] {
  .grid &.col-sib {
    padding-right:$pad;
  }
}

.col-1   { width:(100% / 12)}
.col-2   { width:(100% / 6) }
.col-3   { width:(100% / 4) }
.col-4   { width:(100% / 3)}
.col-5   { width:(100% / 2.4)}
.col-6   { width:(100% / 2)}
.col-7   { width:(100% / 1.714285714285714)}
.col-8   { width:(100% / 1.5)}
.col-9   { width:(100% / 1.333333333333333)}
.col-10  { width:(100% / 1.2)}
.col-11  { width:(100% / 1.090909090909091)}
.col-12  { width:100%; }

$twelfth: (100% / 12);

.col-pad-1 { padding-left:($twelfth * 1)}
.col-pad-2 { padding-left:($twelfth * 2)}
.col-pad-3 { padding-left:($twelfth * 3)}
.col-pad-4 { padding-left:($twelfth * 4)}
.col-pad-5 { padding-left:($twelfth * 5)}
.col-pad-6 { padding-left:($twelfth * 6)}
.col-pad-7 { padding-left:($twelfth * 7 )}
.col-pad-8 { padding-left:($twelfth * 8 )}
.col-pad-9 { padding-left:($twelfth * 9)}
.col-pad-10 { padding-left:($twelfth * 10)}
.col-pad-11 { padding-left:($twelfth * 11 )}

$seventh: (100% / 7);

.col-1-sev   { width:(1 * $seventh)}
.col-2-sev   { width:(2 * $seventh) }
.col-3-sev   { width:(3 * $seventh) }
.col-4-sev   { width:(4 * $seventh)}
.col-5-sev   { width:(5 * $seventh)}
.col-6-sev   { width:(6 * $seventh)}
.col-7-sev   { width:(100%) }

/***********************************************************/

.grid {
  display:grid;
  grid-gap:12px;

  &__item {
    &--about {
      display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 12px;
      
      grid-column: 1 / span 12;
      @include mq($breakpointB) {
        grid-column: 5 / span 8;
      }
      @include mq($breakpointC) {
        grid-column: 7 / span 6;
      }
      @include mq($breakpointD) {
        grid-column: 5 / span 8;
      }
    }
    &--partners {
      grid-column: span 12;
      @include mq($breakpointB) {
        grid-column: span 6;
      }
      @include mq($breakpointC) {
        grid-column: span 12;
      }
    }
  }

  &__sub-item {
    &--about {
      grid-column: 1 / span 2;
      @include mq($breakpointD) {
        grid-column: span 1;
      }
    }
    &--partners {
      grid-template-columns: 1fr;
      @include mq($breakpointC) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include mq($breakpointD) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &--about {
    grid-template-columns: repeat(12, 1fr);
    padding-top:60px;
    @include mq($breakpointB) {
      padding-top:90px;
      grid-column: 5 / span 8;
    }    
    @include mq($breakpointC) {
      padding-top:10px;
    }
  }

  &--partners, &--blog, &--single, &--events {
    grid-template-columns: repeat(12, 1fr);
  }

  &--single, &--events {
    margin-bottom:90px;
  }
}