.grid--instagram {
	grid-gap: 12px;
}

.instagram {
	&__image-container {
		grid-column-end: span 16;
		height:0;
		padding-top:100%;
		position:relative;

		@include mq($breakpointB){

			grid-column-end: span 8;
		}

		@include mq($breakpointC){}

		& > img {
			object-fit:cover;
			width:100%;
			height:calc(100% - 12px);
			position:absolute;
			top:0;
			left:0;
		}

		& p {
			position:relative;
			bottom:8px;
		}
	}
}