.grid--instagram {
	grid-gap: 12px;
}

.instagram {
	&__image-container {
		grid-column-end: span 16;

		@include mq($breakpointB){

			grid-column-end: span 8;
		}

		@include mq($breakpointC){}

		& > img {
			width:100%;
			padding-bottom:2px;
		}
	}
}