.quadrant__container--landing {
	overflow:scroll;

	@include mq($breakpointC){
		overflow:hidden;
	}
}

.quadrant__single--quote.quadrant__single--landing {
	height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height:30vh;
	@include mq($breakpointC) {
		padding:0;
		height: 50%;
	}

}

.quadrant__single--image.quadrant__single--landing {
	height: 25vh;
	@include mq($breakpointC) {
		height: 50%;
	}
}

.quadrant__single:first-child{
	padding-top: 0px;
}


.quadrant__single:last-child{
	padding-bottom: 0px;
}

.quadrant__single--landing {
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100vh;
	flex-wrap:wrap;
	position:relative;
	box-sizing:border-box;

	@include mq($breakpointC) {
		position:absolute;
		flex-wrap:nowrap;
	    width: 50%;
	    height: 50%;
	}
}

.quadrant__single--image {
	cursor:pointer;
}

.quadrant__single--1.quadrant__single--landing {
	border:none;

	@include mq($breakpointC) {
		border-left: 2.5px solid #FF3344;
    	border-bottom: 2.5px solid #FF3344;
	}
}

.quadrant__single--2.quadrant__single--landing {
	border:none;

	@include mq($breakpointC) {
		border-left: 2.5px solid #FF3344;
    	border-bottom: 2.5px solid #FF3344;
	}
}

.quadrant__single--3.quadrant__single--landing {
	border:none;

	@include mq($breakpointC) {
		border-left: 2.5px solid #FF3344;
    	border-bottom: 2.5px solid #FF3344;
	}
}


.quadrant__single--4.quadrant__single--landing {
	border:none;

	@include mq($breakpointC) {
		border-left: 2.5px solid #FF3344;
    	border-bottom: 2.5px solid #FF3344;
	}
}

.quadrant__single--landing > img {
	object-fit:cover;
	width:100%;
	height:100%;
}

.quadrant__single--landing > p {
	width:90%;
	font-size:18px;
	@include mq($breakpointB){
		width:66.66%;
	}
	@include mq($breakpointC){
		width: 77.77%;
	}
}

.quadrant__single--landing span {
	float:right;
}

.quadrant__single--image {

	&:after {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background-color:rgb(255,51,68);
		opacity:0;
		transition: all .2s;
	}

	&:hover:after {
		opacity:.3;
	}

}

p.quadrant__quote {
	font-size:1.5rem;
	line-height:1.625rem;
	letter-spacing:.05rem;
	@include mq($breakpointC) {
		font-size:2rem;
		line-height:2.11rem;
	}
}

.quadrant__quote-container {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:100%;
	padding: 0 10%;
	opacity:0;
	transition: opacity .5s;

	&--active {
		opacity: 1;
		z-index:20;
	}
}

.read-more {
	margin-top:30px;
	margin-right:auto;
	text-transform:uppercase;
	font-size:.67rem;
	letter-spacing:.075rem;
	@include mq($breakpointC) {
		font-size:.94rem;
		letter-spacing:.075rem;
	}
}