.work {
	&__container {

		margin-top:0px;
		transition:margin-top .2s;

		&--push {

			@include mq($breakpointC){
				margin-top:40px;
			}
		}

		@include mq($breakpointC){
			position: relative;
    		top: -1px;
    	}
	}
}

.list {
	&__container {
		color:$red;
	}

	&__left, &__right {
		display:inline-block;
		width: calc(100% + 3px);
		height:auto;
		box-sizing:border-box;
		// display:inline-grid;
		// grid-template-columns:repeat(18, 1fr);
		@include mq($breakpointC) {
			width:50%;
			height:calc(100vh - 39px);
			overflow:scroll;
		}
	}

	&__left {
		border-right:2.5px solid $red;
	}

	&__right {
		display:inline-block;
		padding-top: $vertical-margin-s;
		padding-bottom: $vertical-margin-s;
	}

	&__right-content {
		display:none;

		@include mq($breakpointC){
			margin-bottom:0;
			display:grid;
			grid-gap:6px;
			grid-template-columns: repeat(16, 1fr);
			padding: 0 calc(6.25% + 6px);
			margin-bottom:44px;
		}
	}

	&__text-item {
		display:grid;
		grid-template-columns:repeat(18, 1fr);
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom:2.5px solid $red;
		&:last-child {
			border-bottom:0;
		}
		&--inactive {
			opacity:.2;
		}
	}

	&__text-name {
		grid-column:1 / span 9;
		padding-left:4px;
	}

	&__text-tags {
		text-transform:uppercase;
		grid-column: span 7;
		font-size:.67em;
		letter-spacing:0.05em;
		line-height:1.2em;
	}

	&__image-container {
	    height: 35vw;
	    grid-column: span 8;

	    @include mq($breakpointC){
	    	height: 15vw;
	    }

	    &--inactive {
	    	opacity:.2;
	    }
	}

	&__image {
		width:100%;
		height:100%;
		object-fit:cover;
	}
}