.logo {
	margin-bottom:30px;
	display:flex;
	background-color:#fff;
	@include mq($breakpointB){
		margin-bottom:40px;
	}
	@include mq($breakpointC){
		margin-bottom:60px;
	}
	& h3 {
		padding-left:4rem;
		@include mq($breakpointC){
			padding-left:inherit;
		}
	}
	// & h1, & h3 {
	// 	font-size: 36px;
	// 	@include mq($breakpointC){
	// 		font-size: 48px;
	// 	}
	// 	@include mq($breakpointD){
	// 		font-size: 68px;
	// 	}
	// }
	// &__header {
	// 	font-weight:bold;
	// 	font-size:68px;
	// 	letter-spacing:-0.035em;
	// }
	&--about {
		margin-bottom:0px;
		& h1 {
			width: 100%;
			background-color: #fff;
			position:inherit;
			@include mq($breakpointB){
				background-color:transparent;
				position:fixed;
			}
		}
	}
	&--bg-white {
		background-color: #fff;
		@include mq($breakpointC){
			background-color:transparent;
		}		
	}
}