.border {
	position: fixed;
    top: 0;
    background-color:$red;
    width:42px;
    height:100vh;

	&__middle {
		left: calc(50% - 22px);
	}
	&__right {

		right:0;
	}
}

.template-half {
	width:50%;
	margin-right:42px;
	display:grid;
	grid-template-columns: repeat(20, 1fr);
	overflow:scroll;
	height:calc(100vh - #{$borderWidth});

	&__container {
		display:flex;
	}
}