.border {
	position: fixed;
    top: 0;
    background-color:$red;
    width:42px;
    height:100vh;

	&__middle {
		left: 50%;
	}
	&__right {

		right:0;
	}
}

.template-half {
	width:50%;
	display:grid;
	grid-template-columns: repeat(20, 1fr);
	overflow:scroll;
	height:calc(100vh - #{$borderWidth});
	box-sizing:border-box;

	&--left {
	}

	&--right {
		padding-left: 42px;
		margin-right: 42px;
	}

	&__container {
		display:flex;
	}
}