.single__title, .about-content__header {
	font-size: 1.4em;
	line-height: 1.2em;
	margin-bottom: 15px;
}

.single__related-title {
	margin-bottom: 15px;
}

html {
	height: 100%;
    overflow: hidden;
}

body {
	height: 100%;
  overflow: auto;
}

html,body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
}

/* Video background */

.videobg {
  position: relative;
  width: 100%; /* Set video container element width here */
  height: 100%; /* Set video container element height here */
  overflow: hidden;
  background: #111; /* bg color, if video is not high enough */
	& * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
}

/* horizontally center the video */
.videobg-width {
  position: absolute;
  width: 100%; /* Change width value to cover more area*/
  height: 100%;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

/* set video aspect ratio and vertically center */
.videobg-aspect {
  position: absolute;
  width: 100%;
  height: 0;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  padding-bottom: 56.25%; /* 16:9 ratio */
  overflow: hidden;

}

.videobg-make-height {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.videobg-hide-controls {
  box-sizing: content-box;
  position: relative;
  height: 100%;
  width: 100%;
  /* Vimeo timeline and play button are ~55px high */
  padding: 55px 97.7777px; /* 16:9 ratio */
  top: -55px;
  left: -97.7777px; /* 16:9 ratio */
}

.videobg iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0 none;
}

.loading {
    position: absolute;
    top: 42px;
    left: 42px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    opacity:1;
    pointer-events:none;
    // transition:opacity .5s;
}

@keyframes fade {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.loading--inactive {
  opacity:0;
  animation-name: fade;
  animation-duration: 1s;
}

.work__container, .quadrant__single, .quadrant__container {
  overflow-x:hidden;
}

.mobile-filter-button {font-weight: 400}
.mobile-filter-button--active {font-weight: bold}

.single__tags a {
  line-height: 1.5em
}