.single__title, .about-content__header {
	font-size: 1.4em;
	line-height: 1.2em;
	margin-bottom: 15px;
}

.single__related-title {
	margin-bottom: 15px;
}

html {
	height: 100%;
    overflow: hidden;
}

body {
	height: 100%;
    overflow: auto;
}