.quadrant {
	&__container {
		height: auto;
		width: 100%;
    	position: relative;
    	color:$red;

		@include mq($breakpointC){
			height: calc(100vh - 40px);
		}
	}

	&__single {
		position:relative;
	    width: 102%;
	    height: 100%;
		overflow-y: auto;
		overflow-x:hidden;
		transition: width 1s, height 1s;
		background-color:#fff;
		box-sizing:content-box;
		z-index:0;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		// margin-top:40px;

		@include mq($breakpointC) {
			position:absolute;
		    width: calc(50% - 0.625px);
		    height: calc(50% - 0.625px);
			overflow:hidden;
		}

		&--1 {
			top:0;
			left:0;
			border-bottom:2.5px solid $red;

			@include mq($breakpointC){
				border-right:2.5px solid $red;
			}

			&.quadrant__single--hover-horizontal {width:100%;}
			&.quadrant__single--hover-vertical {height:100%;}
		}

		&--2 {
			top:0;
			right:0;
			border-bottom:2.5px solid $red;

			@include mq($breakpointC){
				border-left:2.5px solid $red;
			}

			&.quadrant__single--work {

				border-bottom:none;

				@include mq($breakpointC){
					border-bottom:2.5px solid $red;
				}
			}

			&.quadrant__single--hover-horizontal {width:100%;}
			&.quadrant__single--hover-vertical {height:100%;}
		}

		&--3 {
			bottom:0;
			left:0;
			border-top:2.5px solid $red;
			order:4;

			@include mq($breakpointC){
				border-right:2.5px solid $red;
			}

			&.quadrant__single--work {

				border-top:none;

				@include mq($breakpointC){
					border-top:2.5px solid $red;
				}
			}

			&.quadrant__single--hover-horizontal {width:100%;}
			&.quadrant__single--hover-vertical {height:100%;}
		}

		&--4 {
			bottom:0;
			right:0;
			border-top:2.5px solid $red;
			order:3;
			margin-bottom:40px;

			@include mq($breakpointC){
				border-left:2.5px solid $red;
				margin-bottom:0px;
			}

			&.quadrant__single--hover-horizontal {width:100%;}
			&.quadrant__single--hover-vertical {height:100%;}
		}

		&--hover-horizontal, &--hover-vertical, &--click {
			z-index:1;
		}

		&--click{
			height:100%;
			width:100%;
		}
	}

	&__content {
		width:calc(100vw - 40px);
		height:100%;
		overflow:auto;
		position:relative;
		top:0;

		@include mq($breakpointC) {
			overflow:scroll;
			position:absolute;
		}

		&--left {
			left:0;
		}

		&--right {
			right:0;
		}
	}

	&__close {
		display:none;
		font-size:.68em;
		text-transform:uppercase;
		position:absolute;
		top: 10px;
		right:10px;
	}
	&__single--click .quadrant__close {
		display:block;
	}

	&__single--click .quadrant__title {
		display:block;
	}

	&__title {
		font-size:.94em;
		font-weight:600;
		letter-spacing:.075em;
		text-transform:uppercase;
		position:absolute;
		top:10px;
		left:10px;
		z-index:10;
		transition:top .2s;
		padding-left:12px;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		// margin-top:$vertical-margin-s;

		@include mq($breakpointC){
			padding-left:0;
			display:none;
		}
	}

	&__images {
		display:block;
		margin: 20px;
		// margin-top: 70px;

		@include mq($breakpointB){
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;
		}

		@include mq($breakpointC){
			display:grid;
			grid-column-gap:6px;
			grid-row-gap: 5vw;
			grid-auto-rows:40vh;
			grid-template-columns: repeat(36, 1fr);
			margin-top: 70px;
		}
	}

	&__image {

		padding: $vertical-margin-s 0;
		display:block;
		width:100%;

		@include mq($breakpointB){
			width: calc(50% - 10px);
		}

		@include mq($breakpointC){
			// display:contents;
			width:auto;

			&:nth-child(1){grid-column: 2 / span 7}
			&:nth-child(2){grid-column: 11 / span 7; align-self:end;}
			&:nth-child(3){grid-column: 20 / span 8}
			&:nth-child(4){grid-column: 29 / span 7; align-self:center;}
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				grid-row:1;
			}
			&:nth-child(5){grid-column: 2 / span 7}
			&:nth-child(6){grid-column: 11 / span 7; align-self:end}
			&:nth-child(7){grid-column: 20 / span 8}
			&:nth-child(8){grid-column: 30 / span 6; align-self:center}
			&:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
				grid-row:2;
			}
			&:nth-child(9){grid-column: 2 / span 7; align-self:start}
			&:nth-child(10){grid-column: 11 / span 7; align-self:end}
			&:nth-child(11){grid-column: 20 / span 8}
			&:nth-child(12){grid-column: 29 / span 7; align-self:center}
			&:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
				grid-row:3;
			}
		}

		& img {
			width:100%;
			height:100%;
			object-fit:cover;
			position:relative;

			@include mq($breakpointB) { max-height: 200px }
			@include mq(600px) { max-height: 200px }
			@include mq($breakpointC) { max-height: 200px }
			@include mq(850px) { max-height: 200px }
			@include mq(950px) { max-height: 220px }
			@include mq(1100px) { max-height: 260px }
			@include mq(1300px) { max-height: 280px }
			@include mq(1500px) { max-height: 300px }
			@include mq(1900px) { max-height: 330px }

			&:before {
				content:'';
				width:100%;
				height:100%;
				position:absolute;
			}
		}
	}

	&__image-hover {
		position:relative;
		line-height:0;
		height:100%;

		@include mq($breakpointC) {
			height:auto;
		}

		&:hover .quadrant__image-title {
			@include mq($breakpointC) {
				display:flex;
				align-items:center;
				justify-content:center;
				line-height:1em;
				background-color: rgba(234,73,77, .8);
				opacity:1;
			}
		}
	}

	&__image-title {
		width:100%;
		height:100%;
		text-transform: uppercase;
		position:relative;
		top:10px;
		backface-visibility: hidden;
		transform: translateZ(0) scale(1.0, 1.0);
		line-height:1.4em;

		@include mq($breakpointC) {
			display:flex;
			align-items:center;
			justify-content:center;
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			color:#fff;
			background-color: rgba(234,73,77, 0);
			padding:.5em;
			text-align:center;
			opacity:0;
			transition: background-color .2s, opacity .2s;
		}
	}
}

.quadrant__single--3 .quadrant__content, .quadrant__single--4 .quadrant__content {
	bottom:0;
	top:initial;
	height: auto;

	@include mq($breakpointC) {
		height:calc(100vh - 40px);
	}
}

.quadrant__single.quadrant__single--hover-horizontal, .quadrant__single.quadrant__single--hover-vertical {
	& .quadrant__title {
		@include mq($breakpointC){
			position:fixed;
			display:block;
		}
	}
}

.quadrant__single--1.quadrant__single--hover-horizontal, .quadrant__single--2.quadrant__single--hover-horizontal, .quadrant__single--1.quadrant__single--hover-vertical, .quadrant__single--2.quadrant__single--hover-vertical {
	& .quadrant__title {
		@include mq($breakpointC){
			top: 95px;
		}
	}
}

.quadrant__single--3.quadrant__single--hover-horizontal, .quadrant__single--4.quadrant__single--hover-horizontal, .quadrant__single--3.quadrant__single--hover-vertical, .quadrant__single--4.quadrant__single--hover-vertical {
	& .quadrant__title {
		@include mq($breakpointC){
			top: calc(50% + 35px);
		}
	}
}

.quadrant__single--1.quadrant__single--hover-horizontal, .quadrant__single--3.quadrant__single--hover-horizontal, .quadrant__single--1.quadrant__single--hover-vertical, .quadrant__single--3.quadrant__single--hover-vertical {
	& .quadrant__title {
		@include mq($breakpointC){
			left: 55px;
		}
	}
}

.quadrant__single--2.quadrant__single--hover-horizontal, .quadrant__single--4.quadrant__single--hover-horizontal, .quadrant__single--2.quadrant__single--hover-vertical, .quadrant__single--4.quadrant__single--hover-vertical {
	& .quadrant__title {
		@include mq($breakpointC){
			left: calc(50% + 55px);
		}
	}
}

.quadrant__single--open .quadrant__title{
	@include mq($breakpointC){
		top: 55px;
	}
}

.quadrant__single, .quadrant__content {
	overflow:inherit;

	@include mq($breakpointC) {
		overflow:auto;
	}
}