.single {
	&__container {
		color:$red;
	}

	&__hero {
		width:100%;
		height: calc(100vh - 40px);
		border-bottom:2.5px solid $red;
		display:none;

		@include mq($breakpointC){

			display:block;
		}

		& > img {
			width:100%;
			height:100%;
			object-fit: cover;
		}
	}

	&__split {
		height: 100%;
		width:100%;
		display:flex;
		flex-wrap:wrap;

		@include mq($breakpointC) {
			flex-wrap:nowrap;
			height: calc(100vh - 40px);
		}
	}
	&__split-left {
		height:100%;
		position:relative;
		line-height:1.4em;
		padding-top: $vertical-margin-s;
		overflow-y: scroll;
		order:2;
		height:auto;
		background-color:#fff;

		@include mq($breakpointC) {
			border-right:2.5px solid $red;
			order:0;
			height:100%;
		}
	}
	&__grid-left {
		display:grid;
		grid-gap: 6px;
		grid-template-columns: repeat(18, 1fr);
	}
	&__split-right {
		height: calc(100vh - 40px);

		@include mq($breakpointC) {
			height:100%;
		}
	}

	&__split-left, &__split-right {
		box-sizing:border-box;
		width:100%;

		@include mq($breakpointC){
			width:50%;
		}
	}

	&__header {
		grid-column: 2 / span 18;
		grid-row: 1;
		display:flex;
		align-items:center;

		@include mq($breakpointB) {
			grid-column: 3 / span 14;
		}
	}
	&__title{
		width:50%;
		font-weight: 600;
		font-size:1.4em;
		line-height:1.78em;
		letter-spacing: .025em;
	}
	&__tags{
		padding-left:6px;
		width:50%;
		font-size:.67em;
		letter-spacing: 0.05em;
		text-transform:uppercase;
	}
	&__description{
		grid-column: 2 / span 18;
		grid-row: 2;
		& > p:nth-child(n+2) {
			text-indent:20px;
		}

		@include mq($breakpointB) {
			grid-column: 3 / span 14;
		}
	}
	&__related{
		grid-column: 2 / span 18;
		grid-row: 3;
		margin-top:$vertical-margin-m;
		margin-bottom: $vertical-margin-s;

		&-title {
			font-weight: 600;
			margin-bottom:20px;
		}


		@include mq($breakpointB) {
			grid-column: 3 / span 14;
		}
	}

	&__image-container {
		width:100%;
		height:100%;
		&--bg img {
			width:100%;
			height:100%;
			object-fit: cover;
		}
	}
}