@keyframes slider {
    0% {transform: translateX(0%)}
    49% {transform: translateX(-100%)}
    50% {transform: translateX(-100%)}
    100% {transform: translateX(100%)}
}

.gallery {
	&__wrapper {
		position:relative;
		margin-bottom:0px;
		grid-column: span 12;
		grid-row: 2;
		height:100%;
		width:100%;
		&:before {
			z-index:3;
			content:'';
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			background-color:#fff;
		}
		// margin-top:50px;
		@include mq($breakpointB){
			margin-top:0px;
			grid-row: auto;
			grid-column: span 8;
		}
		@include mq($breakpointC){
			grid-column: span 5;
			// margin-bottom:90px;
		}
	}
	&__image {
	    width: 100%;
	    max-height:100%;
	    cursor: pointer;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    object-fit:contain;

	    &--bg {
	    	object-fit:cover;
	    	height:100%;
	    }

	    &--portrait {}

	    &--landscape {}
	}
	&__stub {
		visibility:hidden;
	}
	&__image-stub {
		display:inline-block;
		width:100%;
	}
	&__image-wrapper {
		width:100%;
		height:100%;
		// opacity:0;
		transition: transform .5s;
		position:absolute;
		z-index:4;
		top:0;
		transform:translateX(-100%);

		&--active {
			opacity:1;
			z-index:5;
			transform:translateX(0%);
		}
	}
	&__image-figure {
		display:flex;
		justify-content:space-between;
    // margin-top: -1em;
    margin-bottom: .5em;
		// @include mq($breakpointC){
		// 	margin-top:-2em;
		// 	margin-bottom:1em;
		// }
	}
	&__image-credit {
		font-family: Janson, 'Times New Roman', Times, serif;
		font-size:10px;
		@include mq($breakpointC){
			font-size: 11px;
		}
		// @include mq($breakpointE){
		// 	font-size:12px;
		// }
	}
	&__image-caption {
		position:absolute;
		left:6%;
		bottom:20px;
		z-index:10;

		@include mq($breakpointB){
			left:10px;
		}

		&--hide {
			// @include mq($breakpointC){
				display:none;
			// }
		}
	}

	&__fullscreen {
		position:absolute;
		top:20px;
		right:10px;
		z-index:10;
		text-transform:uppercase;
		font-size:.94em;
		letter-spacing:.075em;
		display:none;

		@include mq($breakpointC) {
			display:block;
		}

		&--hide {
			display:none;
		}
	}

	&__fullscreen {
		cursor:pointer;
	}
}

// .gallery__image-wrapper:last-of-type.gallery__image-wrapper--active {
// 	border:6px solid red;
// }

.gallery__image-wrapper--active {
	transform:translateX(0%);
}
.gallery__image-wrapper--prev {
	transform:translateX(-100%);
}
.gallery__image-wrapper--next {
	transform:translateX(100%);
	z-index:2;
}