@font-face {
    font-family: Janson;
    src: url(../fonts/Janson.ttf);
}

@font-face {
   font-family: 'FoundersGroteskWeb';
   src: url('../fonts/FoundersGroteskWeb-Regular.woff');
   font-weight: 400;
}

@font-face {
   font-family: 'FoundersGroteskWeb';
   src: url('../fonts/FoundersGroteskWeb-Semibold.woff');
   font-weight: 600;
}

@font-face {
   font-family: 'FoundersGroteskWeb';
   src: url('../fonts/FoundersGroteskWeb-Bold.woff');
   font-weight: 800;
}

@font-face {
   font-family: 'FoundersGroteskWeb';
   src: url('../fonts/FoundersGroteskWeb-Light.woff');
   font-weight: 100;
}


body {
	font-family: FoundersGroteskWeb, Arial, Helvetica, sans-serif;
}

html, body {
    font-size: 16px;

    @include mq($breakpointD) {
      font-size: 18px;
    }
}